extends layout

block content
  h1= title
  
  ul
    each favorite in favorite_list
      li #{favorite.group.name} - #{favorite.name} - 
        a(href=favorite.web) #{favorite.web} 

    else
      li There are no favorites.