extends layout

block content

  h1 Favorite: #{favorite.name}
  
  li #{favorite.name} - 
    a(href=favorite.web) #{favorite.web}

  hr
  p
    a(href=favorite.url+'/delete') Delete Favorite
  p
    a(href=favorite.url+'/update') Update Favorite