extends layout

block content
  h1= title
  
  ul
    each favorite in favorite_list
      li #{favorite.group[0].name} - #{favorite.name} - 
        a(href=favorite.url) #{favorite.url} 

        

    else
      li There are no favorites.