extends layout

block content
  h1= title
  
  ul
    each favorite in favorite_list
      li #{favorite.name} 
        a(href=favorite.url) #{favorite.url} 
        |- #{favorite.group.name}

        

    else
      li There are no favorites.