extends layout

block content
  h1 #{title}: #{group.name}
  
  if group_bookmarks.length
  
    p #[strong Delete the following bookmarks before attempting to delete this group.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Bookmarks
    
      dl
      each bookmark in group_bookmarks
        dt 
          a(href=bookmark.url) #{bookmark.name}
          | - 
          a(href=bookmark.web) #{bookmark.web} 

  else
    p Do you really want to delete this Group?
    
    form(method='POST' action='')
      div.form-group
        input#groupid.form-control(type='hidden',name='groupid', required='true', value=group._id )

      button.btn.btn-primary(type='submit') Delete