extends layout

block content
  h1 #{title}: #{group.name}
  
  if group_favorites.length
  
    p #[strong Delete the following favorites before attempting to delete this group.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Favorites
    
      dl
      each favortie in groups_favorites
        dt 
          #{favorite.group.name} - #{favorite.name} - 
          a(href=favorite.url) #{favorite.url} 

  else
    p Do you really want to delete this Group?
    
    form(method='POST' action='')
      div.form-group
        input#groupid.form-control(type='hidden',name='groupid', required='true', value=group._id )

      button.btn.btn-primary(type='submit') Delete