extends layout

block content

  h1 Group: #{group.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Bookmarks
    
    ul
    each bookmark in group_bookmarks
      li 
        a(href=bookmark.url) #{bookmark.name}

    else
      p This group has no bookmarks

  hr
  p
    a(href=group.url+'/delete') Delete Group
  p
    a(href=group.url+'/update') Update Group